html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

#root {
  width: 100vw;
  height: 100vh;
  /* background: #101010fa; */

  /* background: rgb(71,65,156);
  background: radial-gradient(circle, rgba(71,65,156,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,0) 100%); */
  background: rgb(71,65,156);
  background: radial-gradient(circle, rgba(71,65,156,1) 0%, rgba(24,21,59,1) 100%, rgba(0,212,255,0) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}